<div class="row">
  <div id="sign_in" class="offset-md-3 col-md-4 mt-6">
    <h1>Sign In</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </br>
      <div class="actions">
        <%= f.submit "Sign in", class: 'btn btn-primary sign_in_btn' %>
      </div>
    <% end %>
  </div>
</div>